{% extends 'bootstrap/base.html' %}
{% import 'macro.html' as macro %}

{% block title %}Weather Averages {{ city }}{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Weather</a>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		<h1> Weather Averages</h1>
		<h1>{{ city }}</h2>
		
		<table class="table table-responsive">
			<tr>
				<th>Month</th>
				<th>Min</th>
				<th>Max</th>
				<th>Rainfall</th>
			</tr>
			{% for month in months %}
				{{ macro.weather_row(month,
							weather[month]['min'], 
							weather[month]['max'], 
							weather[month]['rainfall'],  
							)
				}}
			{% endfor %}
		</table>
{% endblock %}
